body {
    font-family: 'Inter', sans-serif;
    overscroll-behavior: none;
}

canvas {
    border: 1px solid #4a5568;
    /* Tailwind gray-700 */
    border-radius: 0.5rem;
    cursor: default;
    touch-action: none;
}

.controls-container {
    max-height: 90vh;
    overflow-y: auto;
}

.controls-container::-webkit-scrollbar {
    width: 8px;
}

.controls-container::-webkit-scrollbar-track {
    background: #2d3748;
    border-radius: 10px;
}

.controls-container::-webkit-scrollbar-thumb {
    background: #718096;
    border-radius: 10px;
}

.controls-container::-webkit-scrollbar-thumb:hover {
    background: #a0aec0;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.modal {
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    max-width: 90%;
}

@media (max-width: 768px) {
    .controls-container {
        max-height: none;
        height: auto;
        padding-bottom: 2rem;
    }

    canvas {
        width: 100% !important;
        height: 60vh !important;
    }
}
